{
    \"proxy\": {
        \"domain\" : \"{{ getv \"/configuration/global/domain\" \"\"}}\",
        \"dnsHost\" : \"{{ getv \"/configuration/global/dnshost\" \"sky-dns\"}}\",
        \"basePathStartIndexInUrl\" : \"{{ getv \"/configuration/$SERVICE_NAME/basepath/startindexinurl\" \"1\" }}\",
        \"routingTableTTL\" : \"{{ getv \"/configuration/$SERVICE_NAME/routingtable/ttl\" \"300000\" }}\"
    },
    \"swagger\": {
		\"swDomain\": \"{{ or (getv \"/configuration/$SERVICE_NAME/swagger/default/host\" \"\") (printf \"app.%s:80/api-gw\" (getv \"/configuration/global/domain\")) }}\",
		\"namespace\": \"{{ getv \"/configuration/$SERVICE_NAME/swagger/namespace\" \"\" }}\",
        \"serviceInst\": \"{{ getv \"/configuration/$SERVICE_NAME/swagger/instance\" \"\"}}\",
        \"urlPath\": \"{{ getv \"/configuration/$SERVICE_NAME/swagger/urlPath\" \"/api-docs\"}}\",
        \"jsonPath\": \"{{ getv \"/configuration/$SERVICE_NAME/swagger/jsonPath\" \"/api-docs/json\"}}\"
    },
    \"swaggerApi\": {
        \"endPoint\" : \"{{ or (getv \"/configuration/swaggerapi/swagger/host\" \"\") (printf \"http://app.%s:80/swagger-api-server\" (getv \"/configuration/global/domain\")) }}\"
    },
	\"log\": {
        \"level\" : \"{{ getv \"/configuration/$SERVICE_NAME/log/level\" \"info\" }}\",
        \"log2file\" : \"{{ getv \"/configuration/$SERVICE_NAME/log/log2file\" \"false\" }}\"
    },
    \"server\": {
        \"port\" : \"{{ getv \"/configuration/$SERVICE_NAME/srv/port\" \"80\" }}\"
    },
    \"discoveryService\" : \"{{ getv \"/configuration/$SERVICE_NAME/use/discoveryService\" \"manual\" }}\",
    \"servicesList\" : {{ getv \"/configuration/$SERVICE_NAME/serviceslist\" }},
    \"authenticatedServices\" : {
        \"active\" : \"{{ getv \"/configuration/$SERVICE_NAME/authenticatedservices/active\" \"true\"}}\",
        \"servicesList\" : {{ getv \"/configuration/$SERVICE_NAME/authenticatedservices/serviceslist\" }}
    },
    \"hostOfServicesInside\": \"{{ getv \"/configuration/swaggerapi/swagger/host\" \"http://swagger-api-server:80\" }}\",
    \"hostOfServicesOutside\": \"{{ or (getv \"/configuration/swaggerapi/swagger/host\" \"\") (printf \"http://app.%s:80/swagger-api-server\" (getv \"/configuration/global/domain\")) }}\",
    \"dynamicSwaggerDelayInSec\": {{ getv \"/configuration/$SERVICE_NAME/dynamicswaggerdelayinsec\" \"60\"}},
    \"configValidationKey\": \"{{ getv \"/configuration/global/configvalidationkey\" }}\"
}
